@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
body{
    font-family: "outfit", sans-serif;
    font-size: 16px;
    background-color: hsl(217, 19%, 24%);
    padding: 1.25rem;
    text-align: center;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: calc(100vh - 0.1px);
}
.container{
    background-color: hsl(217, 19%, 38%);
    padding: 1.25rem 1.25rem 2rem;
    border: 1rem;
    width: 80%;
    margin: 0 auto;

}
p{
    font-size: 28px;
    line-height: 1.5;
    color: hsl(193, 38%, 86%);
    margin-bottom: 2rem;
}
h3{
    color: hsl(150, 100%, 66%);
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    font-size: 0.825rem;
    margin-bottom: 1rem;
}
.img{
    background-color: hsl(217, 19%, 38%);
    position: relative;
    margin-bottom: 1rem;
}
.img::before{
    content: "";
    width: 40%;
    height: 1px;
    background-color: Light Cyan;
    right: 1.25rem;
    bottom: 3.8rem;
    position: absolute;
    display: block;
    z-index: 99;
}
.img::after{
    content: "";
    width: 40%;
    height: 1px;
    background-color: Light Cyan;
    bottom: 0.74rem;
    position: absolute;
    display: block;
}
.shift{
    margin-top: 10px;
}
.shift button{
    background-color: hsl(150, 100%, 66%);
    padding: 1.25rem;
    border: none;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
/*media query*/
@media (min-width: 500px) {
}